    
    <div class="modal fade" id="contact" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Contact</h4>
            </div>
            <div class="modal-body">
              <div class="thumbnail">
                 <img src="images/contact.jpg">
              </div>
              <p>Aceasta aplicatie este in stadiu de proiect, iar varianta disponibila este un <em>proof-of-concept</em>.</p>
              <p>Daca vi se pare o idee interesanta si doriti sa contribuiti in orice fel la proiect 
              (fie sa lucrati alaturi de noi, fie sa sponsorizati, fie cu idei sau sugestii) va rugam sa ne contactati 
              la adresa de e-mail: <a href="mailto:admin@inside-info.ro?Subject=Sunt%20interesat" target="_top"><em><strong>admin@inside-info.ro</strong></em></a></p>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Inchid</button>
            </div>
          </div>
          
        </div>
    </div>
    
    <nav id="footerNavbar" class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="/mission"><span class="glyphicon glyphicon-sunglasses"></span> Misiune</a></li>
                    <li><a data-toggle="modal" href="#contact"><span class="glyphicon glyphicon-edit"></span> Contact</a></li>
                    <li><a href="/pollution"><span class="glyphicon glyphicon-stats"></span> Despre poluare</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </body>
</html>