<!--https://www.eea.europa.eu/ro/semnale/semnale-de-mediu-2013/articole/calitatea-aerului-din-interior-->
<% include ../partials/header %> 

<div class="container border-shadow">
    <div class="jumbotron border-shadow">
        <h1>Despre poluare</h1>
        <p>Calitatea aerului ne afectează pe toţi, toţi cei ce suntem vii</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Respirăm din momentul în care ne naștem și până când murim. 
            Este o nevoie constantă și vitală, nu doar pentru noi, 
            ci pentru toate formele de viaţă de pe Pământ. Calitatea precară a aerului ne afectează pe toţi: 
            este nocivă pentru sănătatea noastră și pentru sănătatea mediului, iar acest lucru duce la pierderi 
            de vieti, precum si economice. Dar din ce este format aerul pe care îl respirăm și de unde provin diverșii poluanţi?</p> 
            
            <blockquote class="quote-left" >
                <p> Nu pot decât să mă întreb cum este posibil ca grandoarea mediului înconjurător să se diminueze din cauza poluării, în special a poluării aerului. </p>
                <p class="source">Stephen Mynhardt, Irlanda (ImaginAIR)</p>
            </blockquote>
        
            <p>Atmosfera este masa gazoasă care înconjoară planeta noastră și este împărţită în straturi cu diferite densităţi ale gazelor. Stratul cu cea mai mică grosime și aflat cel mai jos (la nivelul solului) este numit troposferă. Acesta este stratul în care trăiesc plantele și animalele și unde se produc tiparele meteorologice pe care le cunoaștem. Altitudinea până la care ajunge acest strat este de aproximativ 7 kilometri la poli și 17 kilometri la ecuator.</p>
            <p>La fel ca restul atmosferei, troposfera este dinamică. În funcţie de altitudine, aerul are o densitate diferită și o compoziţie chimică diferită. Aerul circulă în permanenţă în jurul globului, traversând oceane și vaste zone de uscat. Vântul poate transporta organisme de dimensiuni mici, inclusiv bacterii, virusuri, seminţe și specii invazive de la o zonă la alta.</p>
            <h3>Ceea ce numim noi aer este format din…</h3>
            <p>Aerul uscat conţine aproximativ 78 % azot, 21 % oxigen și 1 % argon. În aer există și vapori de apă, reprezentând între 0,1 % și 4 % din troposferă. Aerul mai cald conţine de obicei o cantitate mai mare de vapori de apă decât aerul mai rece.</p>
            <p>Aerul conţine, de asemenea, cantităţi foarte mici de alte gaze, cunoscute drept gaze reziduale, inclusiv dioxid de carbon și metan. Concentraţiile acestor gaze minore în atmosferă sunt în general măsurate în părţi pe milion (ppm). De exemplu, concentraţiile de dioxid de carbon, unul dintre gazele reziduale cele mai importante și aflat în cele mai mari cantităţi în atmosferă, au fost estimate la aproximativ 391 ppm sau 0,0391 % în 2011 (indicatorul AEM privind concentraţiile atmosferice).</p>
            <p>În plus, există mii de alte gaze și particule (inclusiv funingine și metale) emise în atmosferă atât de surse naturale, cât și antropice.</p>
            <p>Compoziţia aerului din atmosferă se modifică în permanenţă. Unele substanţe din aer au un mare potenţial reactiv, cu alte cuvinte au o mai mare predispoziţie de a interacţiona cu alte substanţe pentru a forma unele noi. Atunci când unele dintre aceste substanţe reacţionează cu altele, pot forma poluanţi „secundari” dăunători pentru sănătatea noastră și pentru mediu. Căldura – inclusiv cea solară – este de obicei un catalizator care facilitează sau declanșează reacţiile chimice.</p>
            <div class="thumbnail">
                <img src="https://www.eea.europa.eu/signals/signals-2013/photos/imaginair-ever-closing/@@images/34784dd3-beb7-44b0-acdc-9092f8b72ca7.jpeg" alt="ImaginAIR: Ever closing" class="image-inline" title="ImaginAIR: Ever closing" />
                <p class="style discreet">(c) Stephen Mynhardt, ImaginAIR/EEA</p>
            </div>
            <h3>Ceea ce numim noi poluare a aerului este…</h3>
            <p>Nu toate substanţele din aer sunt considerate a fi poluanţi. În general, poluarea aerului este definită ca existenţa anumitor poluanţi în atmosferă, la niveluri care afectează în mod negativ sănătatea umană, mediul și patrimoniul nostru cultural (clădiri, monumente și materiale). În contextul legislaţiei, este luată în considerare doar poluarea din surse antropice, deși poluarea poate fi definită în sens mai larg în alte contexte.</p>
            <p>Nu toţi poluanţii atmosferici provin din surse antropice. Numeroase fenomene naturale, inclusiv erupţiile vulcanice, incendiile forestiere și furtunile de nisip eliberează poluanţi în atmosferă. Particulele de praf pot circula pe distanţe foarte mari, în funcţie de vânt și de nori. Indiferent dacă provin din surse antropice sau naturale, odată ce aceste substanţe ajung în atmosferă, ele pot fi implicate în reacţii chimice și pot contribui la poluarea aerului. Cerul senin și vizibilitatea ridicată nu sunt neapărat semne ale unui aer curat.</p>
            <p>În pofida îmbunătăţirilor semnificative din ultimele decenii, poluarea aerului în Europa continuă să ne deterioreze sănătatea și mediul. În special, poluarea cu particule și poluarea cu ozon determină riscuri grave pentru sănătatea cetăţenilor europeni, afectând calitatea vieţii și reducând speranţa de viaţă. Totuși, diferiţii poluanţi au diferite surse și un impact diferit. Este important să privim mai îndeaproape principalii poluanţi.</p>
            <h3>Particulele minuscule care plutesc în aer</h3>
            <p>Particulele reprezintă poluantul atmosferic care afectează cel mai mult sănătatea oamenilor în Europa. Gândiţi-vă la particule ca la pulberi atât de fine încât pot pluti în aer. Unele dintre aceste particule sunt atât de mici (o treizecea parte din a cincea parte a diametrului unui fir de păr uman), încât nu numai că pătrund foarte adânc în plămânii noștri, ci ajung și în sânge, la fel ca oxigenul.</p>
            <p>Unele particule sunt emise direct în atmosferă. Altele sunt rezultatul reacţiilor chimice în care sunt implicate gaze precursoare, precum dioxidul de sulf, oxizii de azot, amoniacul și compușii organici volatili.</p>
            <p>Aceste particule pot fi formate din diverși compuși chimici, iar impactul pe care îl au asupra sănătăţii noastre și asupra mediului depinde de componenţa lor. De asemenea, particulele pot conţine și unele metale grele, precum arsenul, cadmiul, mercurul și nichelul.</p>
            <p>Un studiu recent al Organizaţiei Mondiale a Sănătăţii (OMS) arată că poluarea cu particule fine (PM2.5, adică particule cu un diametru de cel mult 2,5 microni) ar putea reprezenta o problemă mai mare pentru sănătate decât se estimase anterior. Potrivit studiului OMS „Review of evidence on health aspects of air pollution” (Analiza datelor privind aspectele legate de sănătate ale poluării aerului), expunerea pe termen lung la particulele fine poate cauza ateroscleroză, consecinţe negative asupra sarcinii și boli respiratorii în copilărie. Studiul sugerează, de asemenea, posibila existenţă a unei legături cu dezvoltarea neurologică, funcţia cognitivă și diabetul și întărește legătura cauzală dintre PM2.5 și decesele cauzate de afecţiuni cardiovasculare și respiratorii.</p>
            <p>În funcţie de compoziţia lor chimică, particulele pot afecta și clima globală, prin încălzirea sau răcirea planetei. De exemplu, carbonul negru, unul dintre compușii frecvenţi ai funinginii, în principal sub formă de particule fine (cu diametrul mai mic de 2,5 microni), rezultă din arderea incompletă a combustibililor – atât combustibili fosili, cât și lemn. În zonele urbane, emisiile de carbon negru sunt cauzate în cea mai mare parte de transportul rutier, în special de motoarele diesel. Pe lângă impactul asupra sănătăţii, carbonul negru din particule contribuie la schimbările climatice prin absorbţia căldurii solare și încălzirea atmosferei.</p>
            <div class="thumbnail">
                <img src="https://www.eea.europa.eu/signals/signals-2013/photos/imaginair-price-of-comfort/@@images/fd2ddc96-562d-40f2-8a36-ef49fa30e04f.jpeg" alt="ImaginAIR: Price of comfort" class="image-inline" title="ImaginAIR: Price of comfort" />
                <p class="style discreet">(c) Andrzej Bochenski, ImaginAIR/EEA</p>
            </div>    
            <h3>Ozonul: legătura dintre trei atomi de oxigen</h3>
            <p>Ozonul este o formă specială și foarte reactivă a oxigenului, constând în trei atomi de oxigen. În stratosferă – unul dintre straturile superioare ale atmosferei – ozonul ne protejează de radiaţiile ultraviolete periculoase ale soarelui. În straturile inferioare ale atmosferei – troposfera – ozonul este însă în fapt un important poluant care afectează sănătatea publică și natura.</p>
            <p>Ozonul de la nivelul solului este format ca rezultat al unor reacţii chimice între gazele precursoare, precum oxizii de azot și compușii organici volatili nemetanici. Metanul și monoxidul de carbon au, de asemenea, un rol în formarea ozonului.</p>
            <p>Ozonul este puternic și agresiv. Nivelurile ridicate de ozon corodează materialele, clădirile și ţesuturile vii. Acesta reduce capacitatea plantelor de a realiza fotosinteza și împiedică absorbţia dioxidului de carbon. De asemenea, ozonul împiedică reproducerea și creșterea plantelor, ceea ce are ca rezultat recolte mai scăzute și reducerea dezvoltării pădurilor. În corpul uman, ozonul provoacă inflamaţii în plămâni și bronhii.</p>
            <p>Odată expuse ozonului, organismele noastre încearcă să împiedice pătrunderea acestuia în plămâni. Acest reflex reduce cantitatea de oxigen pe care o inhalăm. Inhalarea unui volum mai mic de oxigen determină creșterea activităţii inimii. Astfel, pentru persoanele care deja suferă de boli cardiovasculare sau respiratorii, precum astmul, expunerea la o cantitate mare de ozon poate agrava afecţiunile sau chiar cauza decesul.</p>
            <h3>Ce alţi poluanţi se mai găsesc în aer?</h3>
            <p>Ozonul și particulele nu sunt singurii poluanţi atmosferici care cauzează preocupări în Europa. Mașinile noastre, camioanele, centralele electrice și alte unităţi industriale au nevoie de energie. Aproape toate vehiculele și unităţile utilizează o formă de combustibil pe care îl ard pentru a obţine energie.</p>
            <p>Arderea combustibililor modifică de obicei forma multor substanţe, inclusiv a azotului – gazul aflat în cea mai mare concentraţie în atmosfera noastră. Atunci când azotul reacţionează cu oxigenul, în aer se formează oxizi de azot (inclusiv dioxid de azot, NO2). Atunci când azotul reacţionează cu atomii de hidrogen, se creează amoniacul (NH3), care este un alt poluant atmosferic cu efecte adverse grave asupra sănătăţii umane și asupra naturii.</p>
            <p>În fapt, procesele de combustie eliberează o varietate de poluanţi atmosferici, variind de la dioxid de sulf și benzen, până la monoxid de carbon și metale grele. Unii dintre acești poluanţi au efecte pe termen scurt asupra sănătăţii umane. Alţii, inclusiv unele metale grele și poluanţii organici persistenţi, se acumulează în mediu. Astfel, aceștia pot pătrunde în lanţul nostru alimentar și, în cele din urmă, pot ajunge în farfuriile noastre.</p>
            <p>Alţi poluanţi, precum benzenul, pot deteriora materialul genetic al celulelor și pot cauza cancer în cazul expunerii pe termen lung. Deoarece benzenul este utilizat ca aditiv pentru benzină, aproximativ 80 % din benzenul eliberat în atmosferă în Europa provine de la arderea combustibililor utilizaţi de vehicule.</p>
            <p>Un alt poluant cunoscut care cauzează cancerul, benzo(a)pirenul (BaP), este emis în principal în urma arderii lemnului sau cărbunelui în sobele locuinţelor private. Gazele de eșapament ale vehiculelor, în special la vehiculele cu motoare diesel, reprezintă o altă sursă de BaP. Pe lângă cancer, BaP poate, de asemenea, cauza iritaţii ale ochilor, nasului și bronhiilor. BaP se găsește, de obicei, în particule fine.</p>
            
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <img src="https://www.eea.europa.eu/ro/semnale/semnale-de-mediu-2013/infografica/impactul-poluarii-aerului-asupra-sanatatii/@@images/f9f64401-4afe-49b2-ae0a-e2ff4064042e.jpeg" alt="Impactul poluării aerului asupra sănătăţii" class="image-inline" title="Impactul poluării aerului asupra sănătăţii" />
            </div>
            <h3>Măsurarea impactului asupra sănătăţii umane</h3>
            <p>Deși poluarea aerului afectează pe toată lumea, nu afectează pe toată lumea în aceeași măsură și în același mod. Cele mai multe persoane sunt expuse poluării atmosferice în zonele urbane, din cauza densităţilor mai mari ale populaţiei. Unele grupuri sunt mai vulnerabile, inclusiv persoanele care suferă de boli cardiovasculare și respiratorii, persoanele cu căi respiratorii sensibile și care suferă de alergii ale căilor respiratorii, persoanele în vârstă și sugarii.</p>
            <p>„Poluarea atmosferei afectează în egală măsură toate persoanele din ţările dezvoltate și în curs de dezvoltare”, spune Marie-Eve Héroux de la Biroul Regional pentru Europa al Organizaţiei Mondiale a Sănătăţii. „Chiar și în Europa, există încă o mare proporţie a populaţiei care este expusă unor niveluri care depășesc recomandările noastre orientative referitoare la calitatea aerului”.</p>
            <p>Nu este ușor de estimat care este măsura exactă a prejudiciului adus sănătăţii noastre și mediului de poluarea atmosferică. Există însă numeroase studii pornind de la diverse sectoare sau surse de poluare.</p>
            <p>Potrivit proiectului Aphekom, cofinanţat de Comisia Europeană, poluarea aerului în Europa determină o reducere a speranţei de viaţă cu aproximativ 8,6 luni per persoană.</p>
            <p>Unele modele economice pot fi utilizate pentru a estima costurile poluării aerului. Aceste modele conţin în general costurile în termeni de sănătate cauzate de poluarea aerului (scăderea productivităţii, costurile medicale suplimentare etc.), precum și costurile generate de recoltele mai mici și deteriorarea anumitor materiale. Totuși, aceste modele nu includ toate costurile cauzate de poluarea atmosferică pentru societate.</p>
            <p>Cu toate limitările lor, estimările de costuri oferă o indicaţie a dimensiunii pagubelor. Aproape 10 000 de unităţi industriale din întreaga Europă raportează cantităţile diverșilor poluanţi pe care îi emit în atmosferă la Registrul european al emisiilor și transferurilor de poluanţi (E-PRTR). Pe baza acestor date publice, AEM a estimat că poluarea aerului provenind de la cele mai mari 10 000 de unităţi poluante din Europa a costat cetăţenii europeni între 102 și 169 de miliarde EUR în 2009. Este foarte important de remarcat că s-a constatat că doar 191 de unităţi sunt responsabile pentru jumătate din costul total al pagubelor.</p>
            <p>Există, de asemenea, studii care estimează posibilele câștiguri care ar putea fi obţinute prin îmbunătăţirea calităţii aerului. De exemplu, studiul Aphekom preconizează că reducerea nivelurilor anuale medii ale PM2.5 la nivelurile din orientările Organizaţiei Mondiale a Sănătăţii ar avea ca rezultat creșterea speranţei de viaţă. Doar atingerea acestui obiectiv se preconizează că ar determina posibile creșteri ale speranţei de viaţă variind de la 22 de luni în medie per persoană în București și 19 luni în Budapesta, la 2 luni în Malaga și mai puţin de jumătate de lună în Dublin.</p>
            <h3>Impactul azotului asupra naturii</h3>
            <p>Sănătatea umană nu este singura afectată de poluarea aerului. Diferiţii poluanţi atmosferici au un impact diferit asupra unei mari varietăţi de ecosisteme. Azotul în exces, însă, cauzează riscuri deosebite.</p>
            <p>Azotul este unul dintre principalele elemente nutritive de care plantele au nevoie pentru supravieţuire și pentru o dezvoltare sănătoasă. Azotul se poate dizolva în apă și este apoi absorbit de plante prin sistemul de rădăcini al acestora. Deoarece plantele utilizează cantităţi mari de azot și epuizează cantităţile existente în sol, fermierii și grădinarii de obicei utilizează îngrășăminte pentru a adăuga elemente nutritive, inclusiv azot, în sol, pentru a spori producţia.</p>
            <p>Azotul din atmosferă are un efect similar. Atunci când este depozitat în ape sau în soluri, azotul în exces poate acţiona în avantajul anumitor specii din ecosistemele unde există cantităţi limitate de elemente nutritive, precum așa-numitele „ecosisteme sensibile”, cu flora și fauna lor unică. Aportul de elemente nutritive în exces în aceste ecosisteme poate modifica total echilibrul dintre specii și poate determina pierderea biodiversităţii în zona afectată. În ecosistemele de apă dulce și de coastă, acest lucru poate cauza și dezvoltarea puternică a algelor.</p>
            <p>Răspunsul ecosistemelor la depunerile de azot în exces este cunoscut sub denumirea de eutroficare. În ultimele două decenii, zona ecosistemelor sensibile afectate de eutroficare în UE s-a redus doar cu puţin. Astăzi, jumătate din totalul zonei definite ca ecosistem sensibil este estimată ca fiind expusă riscului de eutroficare.</p>
            <p>Compușii azotului pot contribui și la acidificarea apelor dulci sau a solurilor forestiere, afectând speciile care sunt dependente de aceste ecosisteme. În mod similar impactului eutroficării, noile condiţii de viaţă pot favoriza anumite specii în detrimentul altora.</p>
            <p>UE a reușit să reducă în mod semnificativ zona ecosistemelor sensibile afectate de acidificare, în special datorită reducerii considerabile a emisiilor de dioxid de sulf. Doar un număr mic de zone afectate în UE, în special în Ţările de Jos și în Germania, se confruntă cu probleme legate de acidificare.</p>
            <div class="thumbnail">
                <img src="https://www.eea.europa.eu/signals/signals-2013/photos/imaginair-forests-in-the-czech/@@images/2ab0dc4b-23e1-454d-a3bf-73b72d4a8dd6.jpeg" alt="ImaginAIR: Forests in the Czech Republic still affected by air pollution" class="image-inline" title="ImaginAIR: Forests in the Czech Republic still affected by air pollution" />
                <p class="discreet style">(c) Leona Matoušková, ImaginAIR/EEA</p>
                <p class="style discreet">"Zona protejată a Munţilor Jizerske hory din partea de nord a Republicii Cehe face parte dintr-o regiune care în trecut era cunoscută sub denumirea deloc elogioasă «Triunghiul Negru», din cauza poluării grave a aerului."<br />Leona Matoušková, Republica Cehă</p>
            </div>
            <h3>Poluare fără frontiere</h3>
            <p>Deși unele zone și ţări se pot confrunta cu un impact mai sever al acesteia asupra sănătăţii umane sau a mediului, comparativ cu altele, poluarea atmosferică este o problemă globală.</p>
            <p>Faptul că există curenţi de aer globali înseamnă că poluanţii atmosferici circulă în jurul lumii. O parte din poluanţii atmosferici și precursorii acestora care se găsesc în Europa sunt emiși în Asia și America de Nord. În mod similar, o parte din poluanţii emiși în aer în Europa sunt transportaţi către alte regiuni și continente.</p>
            <p>Același lucru este valabil și la scară mai mică. Calitatea aerului în zonele urbane este în general afectată de calitatea aerului din zonele rurale învecinate și invers.</p>
            <p>„Respirăm în permanenţă și suntem expuși poluării atmosferice – fie în interior, fie în exterior”, spune Erik Lebret de la Institutul Naţional pentru Sănătate Publică și Mediu (RIVM) din Ţările de Jos. „Oriunde ne aflăm respirăm aer, care este contaminat cu o întreagă gamă de poluanţi la niveluri în legătură cu care uneori pot fi așteptate efecte adverse asupra sănătăţii. Din nefericire, nu există niciun loc în care să putem respira doar aer curat”.</p>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>Sursa: <a href="https://www.eea.europa.eu/ro/semnale/semnale-de-mediu-2013/articole/aerul-pe-care-il-respiram">eea.europa.eu</a></p>
            <ul>
                <h3>Informaţii suplimentare</h3>
                <li>Raport tehnic AEM nr.15/2011: <a href="https://www.eea.europa.eu/publications/cost-of-air-pollution" class="internal-link">Calcularea costurilor poluării atmosferice cauzate de unităţile industriale din Europa</a></li>
                <li>Organizaţia Mondială a Sănătăţii – <a class="external-link" href="http://www.who.int/topics/air_pollution/en/">Poluarea aerului și impactul asupra sănătăţii</a> și <a class="external-link" href="http://www.aphekom.org/web/aphekom.org/home;jsessionid=511EE1262BE451B837BDC3555E989F66">s<span class="external-link">tudiul Aphekom</span></a></li>
                <li>Agentia de monitorizare a calitatii aerului in SUA – <a class="external-link" href="https://www.airnow.gov/">Site-ul oficial</a> si <a class="external-link" href="https://www3.epa.gov/airnow/aqi_brochure_02_14.pdf">brosura AQI</a></li>
            </ul>
        </div>
        
    </div>
</div>

<script>
  
$(document).ready(function(){
   $("#footerNavbar").removeClass("navbar-fixed-bottom");
   $("#footerNavbar").addClass("navbar-bottom");
});
  
</script>

<% include ../partials/footer %>